.pag4{
    background-image: url("./components/back.png");
}
.image {
    transition: transform 1s ease-out;
    transform: translateY(0);
}

.image.hidden {
    transform: translateY(100%);
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.image {
    animation: slideInFromBottom 1s ease-out;
}

